
html{
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    }
*, *:before, *after{
    box-sizing: inherit;
}

body{
    font-family: 'Manrope', sans-serif;
    padding:18px;
}

.card{
    position:relative;
    width:380px;
    height:auto;
    background-color:#1F2632;
    padding-left:24px;
    padding-right:24px;
    padding-top:46px;
    padding-bottom:46px;
    margin-bottom:18px;
    border-radius: 3%;
    box-shadow: -1px 7px 43px -9px rgba(0,0,0,0.75);
}
.advice{
    color:#52FFA8;
    text-align:center;
    margin-bottom:28px
}

.quotes{
    color:#CEE3E9;
    font-size:28px;
    text-align:center;
    margin-bottom:24px;
}
.divider{
    content: url("/images/pattern-divider-mobile.svg");
    margin:auto;
}
button{
    cursor:pointer;
}
.circle{
    position:absolute;
    z-index:0;
    top: 93%;
    left: 43%;
    width:60px;
    height:60px;
    background-color:#52FFA8;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
   
}
.circle:hover{
    box-shadow: -1px 1px 95px 4px rgba(0,255,154,1);
    
}

.dice{
    content: url("/images/icon-dice.svg");
    margin:auto;
    padding-top:18px;
}

.attribution { 
    margin-top:60px;
    font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:960px){
    .card{
        margin:auto;
    }
    .container{
        margin-top:50px;
    }
}